{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card box-shadow my-5">
            <div class="card-header bg-primary text-white">
                <h3 class="my-0 font-weight-normal">Авторизация</h3>
            </div>
            <div class="card-body">
                <form method="post" class="text-start">
                    {% csrf_token %}
                    
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    {% for field in form %}
                        <div class="mb-3">
                            <label class="form-label d-block">
                                <span class="d-block mb-1">{{ field.label }}</span>
                                {{ field }}
                            </label>
                            {% if field.errors %}
                                <div class="text-danger small mt-1">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                        <a href="{% url 'users:register' %}" class="btn btn-outline-secondary me-md-2">Регистрация</a>
                        <button type="submit" class="btn btn-success">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
